$burger-menu-width: 35px;
$burger-menu-height: 35px;
$logo-width: 50px;
$logo-height: 50px;

    //fonts
$litre-font: "Brush Script MT";

    //colours
$turquoise-blue: #69F0AE;
$green-yellow: #ABFF4F;
$alert-high: #FF1744;
$alert-medium: #FFAB00;
$alert-low: #FFEA00;
$background-color: #253238;
$porcelain: #ECEFF1;
$silver-sand: #BABDBE;
$trout: #4f5b62;
$gull-gray: #93A4AE;
$wild-sand: #F6F6F6;
$white: #FFF;
