@import './variables';
@import './Stylesheets/wastage';
@import './Stylesheets/alerts';
@import './Stylesheets/wastageSummary';
@import './Stylesheets/tank';
@import './Stylesheets/nav';
@import './Stylesheets/tankInfo';
@import './Stylesheets/progressBar';
@import './Stylesheets/segmentLeak';
@import './Stylesheets/histroryTable';
@import './Stylesheets/map';
@import './Stylesheets/sensor';
@import './Stylesheets/error404';
@import './Stylesheets/alertsFilter';

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.router-outlet {
  margin-top: 44px;
}

#cost-buttons {
  padding-top: 18px;
}

.btn-graph-nav {
  height: 26px;
  width: 84px;
}

.divide {
  margin-top: 20px;
}

.bold {
  font-weight: bold;
}

.wastageInfo {
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dailysubhead {
  font-size: 15px;
}

.progressBar {
  margin-left: 10px;
}

.leakageComponent {
  text-align: "center";
}

.primary {
  background-color: #253238;
}

button {
  width: 60%;
  height: 30px;
  background-color: #dee1e2;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 2px 10px;
  margin-top: 10px;
}

.pump-button {
  background-color: #dee1e2;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 2px 10px;
  margin-top: 10px;
}

.btn-unresolved {
  background-color: red;
}

.nav-btn {
  height: 25px;
  width: 50%;
  color: #253238;
  background-color: #babdbe;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 10px auto;
  padding-top: 7px;
  text-decoration: none;
  font-size: 10pt;
  display: block;
}

.resolved-leak {
  background-color: $background-color;
  border: 1px solid $blue;
}

.unresolved-leak {
  background-color: $blue;
  color: #f6f6f6;
  border: none;
}

.wastegeLabel {
  color: #f6f6f6;
  margin: 0;
  font-weight: bold;
  font-size: 18pt;
}

hr {
  margin: 0 20px;
}

.home-text {
  margin: 5px;
  font-size: 15pt;
  color: #f6f6f6;
  padding-top: 37px;
}

.tank-graph {
  background-color: white;
  margin: 20px;
  border-radius: 5px;
  padding: 2px;
  min-height: 200px;
  color: #4F5B62;
  size: 14sp;
}

.tank-graph h3 {
  size: 14sp;
  color: #4F5B62;
}

@media screen and (min-width: 700px) {
  body {
    background-color: #fff;
  }
}

@media screen and (min-width: 1400px) {
  body {
    background-color: $background-color;
  }

  /* **************** Home screen wastage ************************** */
  .wastage {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
  }

  .wastage>p:first-child {
    margin: 5px 0;
    font-size: 20pt;
  }

  .graph-nav {
    width: 50%;
    margin: 0 auto;
  }

  
  /* **************** Home page Map ************************** */
  .map-main-div {
    width: 100%;
  }

  .leaflet-container {
    height: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .map-button-div-layer2 {
    right: 150px;
    width: 200px;
  }

  /* **************** Alerts page ************************** */
  table {
    width: 60%;
  }
  .img-container {
    display: inline-block;
    width:60%;
    margin: 0 auto;
  }
  
  .alert-img {
    width: 30px;
    height: 30px;
  }

  /* **************** Filter page ************************** */
  .filter-contents {
    background-color: $bg-filter;
    width: 60%;
    margin: 20px;
    padding: 10px;
    color: #4F5B62;
    border-radius: 5px;
  }
  /* **************** Navbar ************************** */

}