@import './variables';
@import './Stylesheets/Desktop/nav-bar';
@import './Stylesheets/Desktop/segment-leaks';
@import './Stylesheets/wastage';
@import './Stylesheets/alerts';
@import './Stylesheets/wastageSummary';
@import './Stylesheets/nav';
@import './Stylesheets/tankInfo';
@import './Stylesheets/progressBar';
@import './Stylesheets/segmentLeak';
@import './Stylesheets/map';
@import './Stylesheets/sensor';
@import './Stylesheets/error404';
@import './Stylesheets/alertsFilter';

hr {
	margin: 0 20px;
}

button {
	width: 240px;
	height: 40px;
	border-radius: 5px;
	text-transform: uppercase;
	padding: 2px 10px;
	border: none;
	display: block;
}

#cost-buttons {
	padding-top: 18px;
}

.btn-graph-nav {
	height: 26px;
	width: 84px;
}

.divide {
	margin-top: 20px;
}

.bold {
	font-weight: bold;
	color: #c0c0c0;
}

.wastage-info {
	border-radius: 0;
	margin-top: 15px;
	margin-bottom: 15px;
}

.dailysubhead {
	font-size: 15px;
}

.progress-bar {
	margin-left: 10px;
}

.primary {
	background-color: $background-color;
}

.btn-unresolved {
	background-color: $alert-high;
}

.nav-btn {
	height: 25px;
	width: 50%;
	color: $background-color;
	background-color: $silver-sand;
	text-transform: uppercase;
	margin: 10px auto;
	padding-top: 7px;
	text-decoration: none;
	font-size: 10pt;
	display: block;
}

.resolved-leak {
	background-color: $background-color;
	border: 1px solid $blue;
	margin: 0 auto;
}

.unresolved-leak {
	background-color: $blue;
	color: $wild-sand;
	border: none;
	margin: 0 auto;
}

.home-text {
	margin: 5px;
	font-size: 15pt;
	color: $wild-sand;
}

.tank-graph {
	background-color: $wild-sand;
	margin: 20px;
	border-radius: 5px;
	padding: 2px;
	min-height: 200px;
	color: $trout;
	size: 14sp;
}

.tank-graph h3 {
	size: 14sp;
	color: $trout;
}

.usage-header {
	display: none;
}

.status {
	display: none;
}

@media screen and (min-width: 700px) {
	body {
		background-color: $background-color;
		text-align: center;
	}

	.line-container {
		height: 300px;
	}
	/* **************** Home screen wastage ************************** */
	.navicons {
		margin: 0 5%;
		text-align: center;
	}
	.wastage-tank-wrapper {
		display: inline-block;
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}

	.tank img {
		height: 138px;
		width: 100px;
	}

	.head {
		font-size: 36px;
	}

	.dailysubhead {
		font-size: 36px;
	}

	.tank-container {
		flex: 4;
	}

	.alerts-header {
		display: none;
	}

	.status {
		display: block;
	}

	.tabcontent {
		width: 80%;
		margin: 0px auto;
	}

	.map-icon-div-layer2 {
		left: 80%;
		position: absolute;
	}

	.tank-wrapper {
		display: flex;
		flex-direction: column;
		flex: 1;
		margin-top: 20px;
	}

	.wastage {
		padding: 20px;
		flex: 1;
		margin-left: 0px;
		width: 50%;
		float: left;
		box-shadow: 2px 1.5px 10px black;
	}

	.home-text {
		flex: 1;
		height: 20px;
		font-size: 31px;
		height: 37px;
		width: 100%;
		font-weight: bold;
		line-height: 37px;
		text-align: center;
		margin-bottom: 50px;
	}

	.wastage > p:first-child {
		margin: 5px 0;
		font-size: 20pt;
	}

	.graph-nav {
		width: auto;
		margin: 0 auto;
	}

	/* **************** Home page Map ************************** */
	.home {
		width: 90%;
		margin: 0 auto;
	}

	.leaflet-container {
		margin: 0 auto;
	}

	.map-button-div-layer2 {
		right: 150px;
		width: 200px;
	}

	/* **************** Alerts page ************************** */
	table {
		width: 60%;
	}

	.img-container {
		display: inline-block;
		width: 60%;
		margin: 0 5%;
	}

	.alert-img {
		width: 30px;
		height: 30px;
	}

	/* **************** Filter page ************************** */
	.filter-contents {
		background-color: $bg-filter;
		width: 600px;
		margin: 0 auto;
		border-radius: 5px;
		box-shadow: 2px 1.5px 10px black;
	}

	.filter-alert-button-div {
		margin: 0 18.5%;
	}

	.usage-cost {
		overflow: hidden;
	}

	.usage-header {
		margin-top: 80px;
		display: block;
		text-align: center;
	}

	.tank-info .tank img {
		height: 200px;
		width: 148px;
	}
	.tank p {
		font-size: 20px;
	}
	.tank p:nth-child(3) {
		font-size: 20px;
		bottom: 90px;
	}
}

@media screen and (min-width: 700px) and (max-width: 900px) {
	.line-container {
		height: 200px;
	}
}
