.error404Red {
  color: #ff1744;
  font: "Roboto";
  font-size: 25px;
}

.error404Grey {
  color: rgba(147, 164, 174, 1);
}

.error404White {
  color: rgb(255, 255, 255);
}
.imageError {
  padding-top: 50px;
  width: 104px;
  height: 104px;
}
