@import './../Variables.scss';

.header {
    width: 100%;
    color: white;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #4f5b62;
    text-align: left;
  }

  .burger-menu {
    height: $burger-menu-height;
    width: $burger-menu-width;
  }

  .logo {
    width: $logo-width;
    height: $logo-height;
  }