.information {

    width: 50%;
    margin-bottom: 10px;
}

.informationBox {

    width: '420px';
    height: '130px';
    border: '1px solid black';
    border: 1px solid rgb(0, 0, 0);
}

.box-content {
	display: inline-block;
	width: 200px;
    padding: 10px;
}

.bottom {
	border-bottom: 1px solid #ccc;
}

.right {
	border-right: 1px solid #ccc;
}