.leaflet-container {
	height: 200px;
	margin: 0 auto;
}

.leaflet-container {
	background-color: #253238;
}

.map-button {
	flex: 1;
	margin: 5px;
	background-color: #dee1e2;
	height: 26px;
	width: 90px;
}

.map-nav {
	display: flex;
	padding: 0 10px;
}

.map-icon-button-div-layer2-fullscreen {
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  position: absolute;
}

.map-button-div-layer2 {
  width: 100%;
  z-index: inherit;
	margin: 9px auto;
  position: absolute;
}

.map-icon-div-layer2-fullscreen {
	width: 100%;
  margin: 40px 10px;
  z-index: 2;
  position: fixed;
}

.invisible {
  display: none;
}
.map-button-tab {
  overflow: hidden;
	button {
		transition: 0.3s;
		cursor: pointer;
		border: none;
		padding: 5px;
		font-size: 11px;
		font-weight: bold;
		color: #4f5b62;
	}
	button.active {
		background-color: #93a4ae;
		color: #f6f6f6;
  }
  
}

.map-main-div {
	position: relative;
	text-align: center;
}

.map-tile-div {
	z-index: 1;
	top: 0;
	left: 0;
	position: relative;
}

.map_main-div-fullscreen{
	position: relative;
	text-align: left;
	z-index: 0;
}

.map-tile-div-fullscreen{
  position: relative;
	margin: 0 auto;
	z-index: 1;
	top: 0;
	left: 0;
}

.map-button-div-layer2-fullscreen {
	z-index: 2;
	top: 0;
	width: 100%;
	margin: 10px 5px;
	position: absolute;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px 5px;
}
