table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

tr:hover {
  background-color: #ddd;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4f5b62;
  color: white;
}

h3 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
}

.fault {
  background-color: rgb(216, 0, 0);
}
