.navicons {
    display: flex;
    height: 44px;
    background-color: #4f5b62;
    opacity: 0.9;
    img {
        padding-top: 5px;
    }
}

.logo {
    margin: auto;
    width: 51px;
    border-right: 1px solid grey;
    background-color: #253238;
    height: 44px;
    
}

.navicon-container {
    flex: 1;
    margin: auto;
    border-right: 1px solid grey;
    text-decoration: none;
    height: 44px; 
    padding: 0;
    .badge {
        background-color: #FF1744;
        color: #f6f6f6;
        font-size: 8pt;
        padding: 2px 5px;
        border-radius: 30px;
        position: relative;
        top: -20px;
        margin-left: -15px;
    }
}

.selected-route {
    background-color: #93A4AE;
}


