.resolved-leak-button {
	background-color: $trout;
	color: $background-color;
	font-weight: bold;
	width: 160px;
	height: 30px;
	border-radius: 2px;
	margin-top: 10px;
}

.leak-info {
	padding-top: 10px;
}

.leak-info :first-child {
	font-size: 20pt;
}

.leak-info :nth-child(2) {
	margin: 5px;
	font-weight: bold;
	font-size: 10pt;
}

.leak-info :nth-child(3) {
	margin: 0;
	font-weight: bolder;
}

.leak-info :nth-child(4) {
	margin: 0;
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 12pt;
}

.leak-info :nth-child(5) {
	margin: 0;
	color: $gull-gray;
	font-weight: bold;
	font-size: 12pt;
}

.leak-info :nth-child(6) {
	margin-top: 0;
	color: $gull-gray;
	font-size: 10pt;
}

.low {
	color: $alert-low;
}

.medium {
	color: $alert-medium;
}

.high {
	color: $alert-high;
}

.leak-resolved {
	color: $turquoise-blue;
}

#map-toggle {
	width: 75px;
}

.segment-map {
	margin: 25px 0;
}

.logged-issue-text {
	color: $blue;
	text-transform: uppercase;
}

.wastage-label {
	color: $wild-sand;
	margin: 10px 0;
	font-weight: bold;
	font-size: 18pt;
}
