#map-toggle {
    width: 50px;

}

.leakInfo {
    color: #ff1744;
    margin: 0 20px;
    padding: 0;
}

.leakInfo :first-child {
    font-size: 20pt;
}

.leakInfo :nth-child(2) {
    margin: 5px;
    font-weight: bold;
    font-size: 10pt;
}

.leakInfo :nth-child(3) {
    margin: 0;
    font-weight: bolder;
}
.leakInfo :nth-child(4) {
    margin: 0;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 12pt;
}
.leakInfo :nth-child(5) {
    margin: 0;
    color: #93a4ae;
    font-weight: bold;
    font-size: 12pt;
}
.leakInfo :nth-child(6) {
    margin-top: 0;
    color: #93a4ae;
    font-size: 10pt;
}

.default-status {
    color: #93a4ae;
    margin: 0;
}

.leak-unresolved-status {
    color: red;
    margin: 0;
    font-size: 11pt;
}
