#sensor-diagram {
	height: 240px;
	width: 200px;
	margin: 30px auto 0 auto;
	overflow: hidden;
}

#water-flow {
	margin: 0;
	color: $gull-gray;
}

small {
	display: block;
	padding: 3px;
	margin: 0;
	color: $gull-gray;
}

.faulty-sensor {
	padding-top: 20px;
}

.sensor-resolved {
	color: $turquoise-blue;
}

.sensor-unresolved {
	color: $blue;
}

.sensor-wrapper {
	width: 100;
	height: 50px;
	margin: 5px auto 35px auto;
	position: relative;
	bottom: 215px;
}

.sensor {
	height: 40px;
	width: 40px;
	float: left;
	background-color: $trout;
	color: $gull-gray;
	font-weight: bold;
	border-radius: 30px;
	margin-right: 15px;
	border: 10px solid $trout;

	p {
		display: block;
		margin-top: 10px;
	}
}

.flow {
	color: $gull-gray;
	text-align: left;
	height: 40px;
	display: block;
	margin-top: 10px;

	p {
		margin: 0;
	}
}

#line {
	height: 210px;
	width: 10px;
	background-color: $trout;
	position: relative;
	left: 25px;
	top: 9px;
}

.sensor-diagram-resolved {
	background-color: $turquoise-blue;
	border-color: #89e0AE;
}

.sensor-diagram-unresolved {
	background-color: $blue;
	border-color: $sensor-border;
}

.faulty-text {
	color: $blue;
	font-weight: bold;
}

.resolved-text {
	color: $turquoise-blue;
	font-weight: bold;
}

.resolve {
	width: 100%;
	height: 150px;
	margin-top: 30px;
}

.date-resolved {
	h4 {
		color: $turquoise-blue;
		margin: 15px 0 0 0;
		font-weight: normal;
	}

	small {
		margin: 0;
		color: $trout;
	}
}
