.tankComponent {
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h3{
    color:#F6F6F6;
}

h5{
    color:#DEE1E2;
}

h6{
    color:#93A4AE;
}

#percentage {
    position: relative;
    top: -85px;
    font-weight: bold;
    color: #F6F6F6;
}

.image{
    width: 138px;
    height:181px;
}

.tank_description{
    font-size: 14sp;
    font-family: "Roboto";
    color: rgba(247, 220, 222, 0.886);
}

#homepage_tank_percentage_lightimage{
    position: relative;
    display: inline-block;
    top: -60px;
    color: #FFF;
    font-size: 10pt;
}

#homepage_tank_percentage{
    position: relative;
    display: inline-block;
    top: -60px;
    color: #FFF;
    font-size: 10pt;
}