.tankComponent {
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h3{
    color:#17d1ff;
}

h5{
    color:#DEE1E2;
}

h6{
    color:#93A4AE;
}

#percentage {
    position: relative;
    top: -165px;
    font-weight: bold;
    color: black;
    height:18 ;
    width:23;
}

.image{
    width: 118px;
    height:158px;
    top: -39px;
    position: relative;
}

.tank_description{
    font-size: 14sp;
    font-family: "Roboto";
    color: rgba(247, 220, 222, 0.886);
}

#homepage_tank_percentage_lightimage{
    position: relative;
    display: inline-block;
    top: -44px;
    right:44px;
    color: black;
    font-size: 10pt;
    font-weight: bold;
}

#homepage_tank_percentage{
    position: relative;
    display: inline-block;
    top: -44px;
    right:39px;
    color: black;
    font-size: 10pt;
    font-weight: bold;
}
