.tank-container {
    display: flex;
    text-align: center;

}

.pump-button{
    width:158dp;
    height:30dp;
    font-weight: normal;
    color: #FFECEFF1;
    background-color:#FF1744;
    text-align: center;
    font-size: 12sp;
    border-radius: 3px;
    border: none;
    line-height: 16sp;
    box-shadow: black 1dp,1dp,4dp;
    padding: 2% 7% 2% 7%;
}
.tank {
    flex: 1;
    margin: 5px;
}

.tank img {
    height: 80px;
}

.tank p {
    margin: 0;
}

.tank p:nth-child(1){
    color: #93a4ae;
}

.tank p:nth-child(3){
    color: #93a4ae;
    font-size: 10pt;
}

.tank p:nth-child(4){
    color: #f6f6f6;
}
