.tank-container {
	display: flex;
	text-align: center;
}

.tank {
	flex: 1;
	margin: 0;
	color: $gull-gray;
}

.tank img {
	height: 80px;
	width: 60px;
}

.tank p {
	margin: 0;
}

.tank p:nth-child(3) {
	color: $background-color;
	font-size: 10pt;
	position: relative;
	bottom: 60px;
	right: 1px;
	font-weight: bold;
}

.tank-info {
	padding-top: 20px;
	.tank:first-child {
		font-size: 20px;
		font-weight: bold;
		color: $blue;
	}
	.tank img {
		height: 158px;
		width:  118px;
	}
	.tank:last-child {
		color: $wild-sand;
		//bottom: 200px;
	}
}

.pump-button {
	width: 220px;
	height: 30px;
	background-color: $blue;
	border-radius: 2px;
}
