.mild {
	text-align: center;
	color: #4f5b62;
	background-color: #f6f6f6;
	border-radius: 5px;
	padding: 5px;
}
.moderate {
	text-align: center;
	color: white;
}
.severe {
	text-align: center;
	color: red;
}

.wastageSummary {
	text-align: center;
	margin: 10px;
}

.wastageSummaryH3 {
	color: white;
}
