.wastage-summary {
	background-color: $bg-filter;
	box-shadow: 1px 2px 4px 0 $black;
	border-radius: 5px;
	margin: 10px 20px;
	padding: 5px;
	color: $gull-gray;
}

.wastage-summary p:first-child {
	font-size: 25pt;
	font-weight: bolder;
	margin: 0;
}

.wastage-summary p:nth-child(2) {
	font-size: 10pt;
	margin: 7px 0;
}

.wastage-summary p:last-child {
	font-size: 9pt;

	margin: 7px 0;
}
