.wastage {
	background-color: $bg-filter;
	margin: 20px;
	border-radius: 5px;
	padding: 2px;
	min-height: 200px;
	color: $trout;
	size: 14pt;
}

.wastage>p:first-child {
	margin: 5px 0 0 0;
	font-weight: bold;
	color: $gull-gray;
}

.graph-nav {
	display: flex;
	padding: 0 10px;
}

.btn-graph-nav {
	flex: 1;
	margin: 5px;
	background-color: $map-btn;
}

.graph-outlet p {
	margin: 0;
}

.tab {
	overflow: hidden;

	button {
		transition: 0.3s;
		cursor: pointer;
		border: none;
		padding: 5px;
		font-size: 11px;
		font-weight: bold;
		color: $trout;
	}

	button.active {
		background-color: $gull-gray;
		color: $wild-sand;
	}
}

.head {
	font-size: 15pt;
	color: $porcelain;
	font-weight: bold;
}

.subhead {
	font-size: 12pt;
	color: $alert-high;
	font-weight: bold;
}

.date {
	font-size: 8pt;
}

#daily {
	margin: 0;
	padding: 0;
	border: 1px solid $black;

	p:nth-child(1) {
		color: $alert-high;
		font-size: 15pt;
		font-weight: bold;
		margin: 5px 0 0 0;
	}

	p:nth-child(2) {
		font-weight: bold;
		margin: inherit;
		color: $trout;
	}
}
